body{
    padding: 0;
    margin: 0;
    min-height: 100vh;
    font-family: Arial,Helvetica,sans-serif;
    }

:root{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.183);
}


.App{
    display: flex;
    flex-direction: column;
    width: 75%;
    margin:  50px auto;
    /* margin-bottom: 50px;
    margin-top: 50px; */
    padding-bottom: 50px;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px; 
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.225);
}


h1{
    color: rgba(14, 31, 71, 0.569);
}

h2{
    font-style: italic;
    color: rgba(1, 17, 17, 0.769);

}

.generalInfo, .educationInfo,
#formContainer{
    padding: 0 70px 0 70px;
}

#general, #educationForm,
#workExperiencesForm{
    display: flex;
    flex-direction: column;
    justify-content:end;
    padding-top: 2%;
}

#general{
    padding-top: 7%;
}


#previewBtn{
    background-color: rgba(134, 200, 129, 0.68);
    border: none;
    color: #f2f4f5;
    font-size: 1.5rem;
    border-radius: 7px;
    cursor: pointer;
    margin-right: 0%;
    float: right;
}

#previewBtn:hover{
    filter: brightness(110%);
}

#previewBtn:active {
  transform: translateY(5px);
}

input {
    border: 1px solid rgba(78, 78, 78, 0.429);
    border-radius: 4px;
    font-size: 1rem;
    padding: 7px;
    margin: 3px;
}

.general{
    border: none;
    font-size: 2rem;
    font-style: italic;
    color: #2f303177;
}

.general:hover{
    filter: brightness(80%)
}

button{
    background-color: rgba(216,216,216,0.8);
    border: none;
    color: #6c757d;
    margin: 5px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 600px;
    border-radius: 4px;
    cursor: pointer;
    /* width: 100px; */
}

button[type='submit']{
        width: 100px;
        margin-left: auto;
        margin-top: 10px;
}

button[type='submit']:hover{
    filter: brightness(110%);
}

button[type='submit']:active {
  transform: translateY(5px);
}


.experience, .educationCon{
    color: rgba(6, 6, 6, 0.8);
    background-color: #3e5d7939;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 70px 15px 70px;
    margin: 50px;
    border-radius: 20px;
}


.experience:hover, .educationCon::hover {
    background-color: rgb(126, 74, 65);
    color: whitesmoke;
  }

.displayLine{
    display: flex;
}

.titlesBold{
    font-weight: 600;
    font-size: larger;
    font-style: italic;
    text-align: start;
}

p{
    text-align: end;
}

.deleteEdu, .deleteExp{
    color:rgba(194, 6, 6, 0.723);
    background: none;
    align-self: flex-end;
    margin-right: -52px;
    margin-top: 0;
}

.deleteEdu:hover, .deleteExp:hover{
    filter: brightness(60%);
}
